---
version: '3.7'
services:
  app:
    container_name: '{{ coturn_cont_name }}'
    image: '{{ coturn_cont_image }}'
    restart: 'always'
    network_mode: 'host'
    user: '{{ coturn_cont_uid }}'
    tmpfs:
      - '/var/run:mode=777'
    volumes:
      - '{{ coturn_cont_config_vol }}:/config'
      - '{{ coturn_cont_certs_vol }}:/certs'
    command: |
      -c /config/turnserver.conf
